header {
    padding-top: 14px;
    position: relative;
}

.top-header {
    width: 100%;
    height: 34px;
    line-height: 34px;
    background: #004fac;

    a {
        color: #fff;
    }
}

.linklogo {
    position: absolute;
    top: 0;
    left: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.logo-pc{
	display: block;
}
.logo-tb{
	display: none;
}
.logo-mb{
	display: none;
}
#dl-menu{
	display: none;
}
.menu-top-header {
    margin: 0;
    float: left;
    li {
        float: left;
        list-style: none;
        margin-right: 20px;
        i {
            margin-right: 10px;
        }
        a {
            color: #FFFFFF
        }
    }
}

.search-lang {
    float: right;
    .searchclick {
        //background: url(../images/bg-a.png) right center no-repeat;
        //padding-right: 10px;
        float: left;

        i {
            margin-right: 5px;
            ;
        }
    }
    .language {
        float: left;
        margin-top: 7px;
        margin-left: 10px;
        img {
            float: left;
        }
    }
}

.nav-menu {
    width: 100%;
    background: #cce0f9;
    display: table;
}

.menu-root {
    width: 100%;
    margin: 0;
}

.menu-left {
    width: 50%;
    list-style: none;
    float: left;
    padding-right: 116px;
    li {
        list-style: none;
        line-height: 1;
        margin-bottom: 0;
        position: relative;
        z-index: 3;
    }
}

.menu-right {
    width: 50%;
    list-style: none;
    float: left;
    padding-left: 116px;
    li {
        list-style: none;
        line-height: 1;
        margin-bottom: 0;
        z-index: 3;
    }
}

.menu-inside {
    width: 100%;

    .child {
        width: 50%;
        float: left;
        a {
            text-align: center;
            display: block;
            padding: 11px 0;
            color: #da261b;
            font-size: 1.125rem;
        }
        &:first-child {
            a {
                background: url(../images/bg-a-insi.png) right center no-repeat;
            }
        }
    }

    .dropmenu {

        .drop-link {

            &::after {}
            &::before {
                content: '';
                height: 4px;
                left: 0;
                margin: auto;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                right: 0;
                -webkit-transition: width 0.7s, opacity0.7s;
                transition: width 0.7s, opacity 0.7s;
                width: 0%;
                background: #a51c30;
                bottom: 0;
            }
        }

        &.active {
            .nav-menu-link {}
        }
        &:hover {
            .drop-link {
                &::before {
                    opacity: 1;
                    text-decoration: none;
                    width: 100%
                }
            }
            ul {
                height: auto;
                opacity: 1;
                visibility: visible
            }
        }
        ul {
            position: absolute;
            background: #fff;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
            z-index: 3;
            min-width: 100%;
            height: 1px;
            opacity: 0;
            -webkit-transition: opacity 0.1s;
            transition: opacity 0.1s;
            white-space: nowrap;
            overflow: hidden;
			li{
				&:hover{
					background: #da261b;
				}
			}
            .dropmenu-link {
                display: block;
                width: 100%;
                padding: 0.5rem 1.5rem;
                clear: both;
                font-weight: 400;
                text-align: inherit;
                white-space: nowrap;
                background: none;
                border: 0;
                color: #da261b;
                font-size: 1rem;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
.menu-icon-area{
	overflow: hidden;
}
.menu-icon {
    width: 100%;
}

.box-menu-icon {

    overflow: hidden;
    text-align: center;
    width: 33.333333%;
    float: left;
	padding: 2px 0;
    .img-box-menu-icon {
        margin-top: 2px;
        img {}
    }
    .title-box-menu-icon {
        margin-top: 3px;
        a{
        	color:#fff;
        }
    }

    &.color-1 {
        background: #d24d57;
    }
    &.color-2 {
        background: #663399;
    }
    &.color-3 {
        background: #03c9a9;
    }
    &.color-4 {
        background: #4b77be;
    }
    &.color-5 {
        background: #947cb0;
    }
    &.color-6 {
        background: #f2784b;
    }
}