.page-content {
    margin-bottom: 10px;
}

.news-box {
    .news-box-title {
        h1 {
            font-size: 1rem;
            a {}
        }
    }
    .news-box-content {
        margin-top: 20px;
        .news-box-detail {
            text-align: justify;
        }
    }
}

.news-box-othernew {
    margin-top: 30px;
    border-top: 1px solid lighten(#ccc, 10);
    padding-top: 20px;
    h3 {
        font-size: 16px;
    }
    ul {
        padding-left: 20px;
        margin-top: 30px;
        li {
            list-style: none;
            margin-bottom: 10px;
            a {
                background: url(../images/bg-a-list.png) left 4px no-repeat;
                padding-left: 20px;
            }
        }
    }
}
.news-box-search{
    span{
        display: block;
        strong{
            color:#da261b;
        }
    }
    .news-box-search-list{
        padding: 5px 0;
        margin-top: 20px;
        a{
             background: url(../images/icon-search-list.png) left 4px no-repeat;
             padding:5px 0 5px 30px;
            margin-bottom: 10px;
            font-weight:600;
        }
    }
}
.news-box-list {
    overflow: hidden;
    margin-bottom: 20px;
    .news-box-list-img {
        img {
            width: 100%;
        }
    }
    .news-box-list-title {
        margin-top: 5px;
        h2 {
            font-size: 1rem;
            font-weight: normal;
            a {
                color: #004fac;
            }
        }
    }
    .news-box-list-content {
        p {}
    }
}

.group-uti {
    overflow: hidden;
    margin-bottom: 20px;
    background: #0588d3;
    .group-uti-title {
        h2 {

            padding: 20px 15px;
            font-size: 1rem;
            color: #fff;
            margin-bottom: 0;
        }
        border-bottom: 1px solid lighten(#0588d3, 20);
    }
    .group-uti-box {

        padding: 15px;
        .group-uti-list {
            h3 {
                font-size: 0.825rem;
                font-weight: normal;
                padding-left: 20px;
                background: url(../images/icon-book.png) left 4px no-repeat;

                a {
                    color: #fff;
                    &:hover{
                        color:#da261b !important;
                    }
                }
            }
        }
    }
}

.group-new {
    overflow: hidden;
    margin-bottom: 20px;
    .group-new-title {

        h2 {
            background: #0588d3;
            padding: 15px;
            font-size: 1rem;
            color: #fff;
            margin-bottom: 0;
        }
    }
    .group-new-box {
        background: #ebebeb;
        padding: 15px;
        .group-new-list {
            h3 {
                font-size: 0.825rem;
                font-weight: normal;
                padding-left: 20px;
                background: url(../images/bg-a-list.png) left 4px no-repeat;

                a {
                    color: #212121;
                }
                .date {
                    color: #878787;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.date {
    color: #878787;
    i {
        margin-right: 5px;
    }
}