@import "../../Base/normalize";

@import "../../Base/global";

@import "../../Base/Fonts/OpenSans";

@import "color-webtinh-template02";

@import "reset-bootstraps";
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-size: 0.825rem;
    color: $text-color;
}

.main-menu {
    width: 100%;
    background: $bg-menu-color;
    margin-top: 1px;
}

@-webkit-keyframes menu-drop {
    0% {
        opacity: 0.2
    }
    100% {
        opacity: 1
    }
}

@keyframes menu-drop {
    0% {
        opacity: 0.2;
        transform: translateY(50px)
    }
    50% {
        opacity: 0.7;
        transform: translateY(0)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.animation-menuhv {
    -webkit-animation-name: menu-drop;
    animation-name: menu-drop;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.nav-menu {
    position: relative;

    ul {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;

        li {

            list-style: none;

            &:hover {
                background-color: $bg-menu-color-hv;
            }
            a {
                display: block;
                color: $text-menu-color;
                font-size: 0.875rem;
                padding: 0.5rem 1rem;
            }
            &:first-child {
                a {
                    &::before {
                        font-family: "FontAwesome";
                        content: "\f015";
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    .dropmenu {
        a {
            &::before {

                content: "" !important;
                margin-right: 0px !important;
            }
        }
        .drop-link {
            &::after {
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 0.5em;
                vertical-align: 0.255em;
                content: "";
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
            }
        }

        &.active {
            .nav-menu-link {}
        }
        &:hover {

            ul {
                display: block;
            }
        }
        ul {
            display: none;
            position: absolute;
            top: 100%;
            /*left:0;*/
            background: $bg-menu-color-child;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
            padding: 0.5rem 0;
            z-index: 1000;
            min-width: 200px;
            .dropmenu-link {
                display: block;
                width: 100%;
                padding: 0.5rem 1rem;
                clear: both;
                font-weight: 400;
                text-align: inherit;
                white-space: nowrap;
                background: none;
                border: 0;
                color: $text-menu-color;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.content-main {
    margin-top: 5px;
}

.sidebar-left {}

.sidebar-left-gmenu {
    background: lighten($bg-menu-color-hv, 15);
    overflow: hidden;
    .gmenu-title {
        font-size: 0.825rem;
        color: #fff;
        margin: 0;
        padding: 0.5rem;
        background: $bg-menu-color-hv;
        a {
            color: #fff;
        }
    }
    ul {
        margin: 0;
        padding: 0;

        overflow: hidden;
        li {

            &:last-child {
                border: none;
            }
            width: 100%;
            list-style: none;
            float: left;
            padding: 0 0.5rem;
            border-bottom: lighten($bg-menu-color-hv, 20) 1px solid;
            a {
                color: #fff;
                padding: 5px 0;
                float: left;
                font-size: 0.725rem;
            }
        }
    }
}

.adv-box {
    margin-top: 10px;
    overflow: hidden;
    .adv-items {
        margin-bottom: 5px;
    }
}

.sidebar-right {}

.section-content {}

.notification-area {
    overflow: hidden;
}

.notification-area {
    margin-bottom: 5px;
    .time-display {
        float: left;
        position: relative;
        span {
            font-weight: 600;
            position: absolute;
            top: 8px;
            left: 5px;
        }
    }
    .box-search {
        width: 100%;
        float: right;
    }
}

.input-search {
    position: relative;
    input[type=text] {
        padding: 0.275rem 0.75rem;
    }
    .btnSearch {
        background: none;
        border: none;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer;
    }
}

.section-box {
    margin-bottom: 20px;
    .section-box-tilte {

        h2 {
            font-size: 0.825rem;
            color: #fff;
            margin: 0;
            padding: 0.5rem;
            background: #4B77BE;
        }
    }
    .section-box-con {

        padding: 0.5rem;
        border: 1px solid #e1e1e1;
        overflow: hidden;
    }
}

.newstop-area {
    .item-new-root {
        width: 60%;
        float: left;
        margin-right: 3%;
        .item-new-image {}
        .item-new-content {
            text-align: justify;
            h2 {
                font-size: 0.825rem;
                margin-top: 0.5rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
                a {
                    color: #4B77BE;
                }
            }
        }
    }
    .item-new-child {
        overflow: hidden;
        .item-list {
            margin: 0;
            padding: 0;
            text-align: justify;
            border-bottom: 1px dotted #ddd;
            padding-bottom: 5px;
            margin-bottom: 10px;
            &:last-child{
                  border-bottom: none;
            }
            a {
                color: #4B77BE;
                font-weight: 600;
            }

        }
    }
}

.list-new-single{
    overflow: hidden;
    margin-bottom: 20px;
    .list-new-images{
        width: 30%;
        margin-right: 10px;
        float:left;
    }
    .list-new-content{
        overflow: hidden;
        h3{
            font-size: 0.825rem;
                margin-top: 0;
                font-weight: 600;
                margin-bottom: 0.5rem;
                a {
                    color: #4B77BE;
                }
        }
        .list-new-date{
            margin-bottom: 5px;
        }
    }
}

footer {
    padding: 50px 0;
}

@import "reponsive";